<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Resultado de Autuação</h4>
        <p class="card-category">Insira somente um dos campos</p>
      </div>
      <div class="card-body">
        <%= simple_form_for :infractions, url: infractions_assessment_defense_path, method: :get, remote: true do |f| %>
          <div class="row">
           <div class="col-md-10">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Placa</label>
                <%= f.input :plate, label: false, as: :string, input_html: { maxlength: 7, minlength: 7 } %>
              </div>
            </div>
            <div class="col-md-10"><p>Ou</p></div>
            <div class="col-md-10">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">CPF</label>
                <%= f.input :document_number, label: false, as: :string, input_html: { maxlength: 14, minlength: 11 } %>
              </div>
            </div>
            <div class="col-md-10"><p>Ou</p></div>
            <div class="col-md-10">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Número Defesa</label>
                <%= f.input :defense_number, label: false, as: :string %>
              </div>
            </div>
          </div>
          <%= f.submit "Pesquisar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#detran-mg">
          <%= image_tag(ActionController::Base.helpers.asset_path("detran-mg.jpg")) %>
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category">Documento: Certificado de Registro e Licenciamento de Veículo (CRLV)</h6>
        <h4 class="card-title">Descrição</h4>
        <p class="card-description">
            O condutor que desejar consultar o resultado da defesa de autuação deverá preencher um dos campos abaixo e clicar em "pesquisar"
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="assessment_defense">
  </div>
</div>