<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Consultar pontuação</h4>
        <p class="card-category">Insira as informações</p>
      </div>
      <div class="card-body">
        <%= simple_form_for :drivers, url: drivers_check_punctuation_path, method: :get, remote: true do |f| %>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <%= f.input :cnh_type, label: 'Versão da CNH', as: :radio_buttons, collection: [['1', 'Nova'], ['2', 'Antiga']], label_method: :second, value_method: :first, wrapper: :vertical_collection_inline, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Número da CNH</label>
                <%= f.input :cnh_number, label: false, as: :string, input_html: { maxlength: 11, class: 'form-control' }%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Data de Nascimento</label>
                <%= f.input :birth_date, label: false, as: :string, input_html: { class: 'form-control datepicker'} %>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Data da primeira CNH</label>
                <%= f.input :first_cnh_date, label: false, as: :string, input_html: { class: 'form-control datepicker'} %>
              </div>
            </div>
          </div>
          <%= f.submit "Pesquisar", class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#detran-mg">
          <%= image_tag(ActionController::Base.helpers.asset_path("detran-mg.jpg")) %>
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category">Documento: Carteira Nacional de Habilitação (CNH).</h6>
        <h4 class="card-title">Descrição</h4>
        <p class="card-description">
          O condutor que deseja consultar sua pontuação basta preencher o formulário eletrônico abaixo e clicar em "pesquisar".
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="pontuation-result">
  </div>
</div>