<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">CONSULTAR MOTIVO: VEÍCULO NÃO LICENCIADO</h4>
        <p class="card-category">Insira as informações</p>
      </div>
      <div class="card-body" data-controller="vehicle">
        <%= simple_form_for :vehicles, url: vehicles_unlicensed_path, method: :get, remote: true do |f| %>
          <% if current_user.present? %>
            <div class="row">
              <div class="col-md-12">  
                <label>Use dados de um de seus veículos cadastrados</label>
                <%= f.input :service_type, label: false, as: :select, collection: current_user.vehicles.pluck(:id, :model), label_method: :second, value_method: :first, input_html: { data: { 'vehicles': @vehiclesJSON }, class: 'selectpicker', id: 'select-vehicle' } %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Chassi</label>
                <%= f.input :chassi, label: false, as: :string, input_html: { maxlength: 17, minlength: 17 } %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Placa</label>
                <%= f.input :placa, label: false, as: :string, input_html: { maxlength: 7, minlength: 7 } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Renavam</label>
                <%= f.input :renavam, label: false, as: :string, input_html: { maxlength: 11, minlength: 9 } %>
              </div>
            </div>
          </div>
          <%= f.submit "Pesquisar", class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#detran-mg">
          <%= image_tag(ActionController::Base.helpers.asset_path("detran-mg.jpg")) %>
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category">Documento: Certificado de Registro de Licenciamento de Veículo (CRLV)..</h6>
        <h4 class="card-title">Descrição</h4>
        <p class="card-description">
        Após o pagamento dos débitos, o proprietário do veículo pode consultar se ainda há alguma pendência que impede o licenciamento.
        Para fazer a consulta, preencha o formulário e clique em "pesquisar".
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="unlicensed-result">
  </div>
</div>