<!DOCTYPE html>
<html>
  <head>
    <title>DetranReengineering</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>
      Detran MG - Reengineering
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark-edition" data-controller="application">
    <main class="wrapper ">
      <%= render 'layouts/menu' %>
      <section id="main" class="main-panel">
        <%= render 'layouts/navbar' %>
        <div class="content">
          <div class="container-fluid">
            <%= yield %>
          <div>
        </div>
      </section>
    </main>

    <div id="record-modal" class="side-modal mdc-elevation--z3">
      <div class="title">
        <a id="close"><span class="material-icons">close</span></a>
      </div>
      <div id="record_box"></div>
      <div id="children-content" class="side-modal-inner">
      </div>
    </div>

    <%= yield :modal %>
    <%= yield :javascript %>
  </body>
</html>
